* {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: poppins;
  color: #f2f2f2;
}

body {
  background: #1D1F2B;
  font-family: "Arial", sans-serif;
}

.chat-window-container {
  max-width: 100%;
  height: 730px;
  margin: 0;
  padding: 20px;
}

.chat-container {
  overflow-y: auto;
  padding: 10px;
  height: 90%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.chat-container::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.chat-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
}

.bot-message {
  text-align: left;
}

.user-message .message-bubble,
.bot-message .message-bubble {
  background-color: #e1f5fe;
  border-radius: 4px;
  padding: 5px 25px;
}

.user-message .message-bubble {
  margin-left: auto;
  border: 1px solid #42afee;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  background: transparent;
  color: #bbb;
}

.bot-message .message-bubble {
  margin-right: auto;
  border: 1px solid rgb(226, 255, 61);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  background: transparent;
}

.typing-indicator {
  margin-left: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  animation: typing 1s infinite;
}

@keyframes typing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 5px 25px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}

.svg {
  width: 100%;
  height: 18%;
}


